.left-right-margin{
    padding: 5px 180px;
}

@media only screen and (max-width: 1000px) {
    .left-right-margin {
        padding: 5px 20px;
    }   
}

.left-right-margin .container{
    background-color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px rgb(197, 197, 197) solid;
    margin-top: 30px;
}

/* the real state card */
#property-list {
    display: flex;
    flex-direction: column;
}

#property-list .header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#property-list .header .add-real-estate{
    padding: 15px 30px;
    border: none;
    font-size: 13px;
    font-weight: 600;
    background: #007bff;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
}

#property-list .pro-container {
    display: flex;
    justify-content: start;
    padding-top: 20px;
    flex-wrap: wrap;
    gap: 20px;
}

#property-list .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#property-list .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);

}

#property-list .pro img {
    width: 100%;
    border-radius: 20px;
}

#property-list .pro .info {
    text-align: start;
    padding: 4px 0;
}

#property-list .pro .info span {
    color: #606063;
    font-size: 12px;
}

#property-list .pro .info h5 {
    /* padding-top: 7px; */
    color: #1a1a1a;
    font-size: 15px;
}

#property-list .pro .info i {
    font-size: 12px;
    color: rgb(243, 181, 25);
}

#property-list .pro .info h4 {
    /* padding-top: 7px; */
    font-size: 13px;
    font-weight: 700;
    color: #088178;
}




/* filters and search setion */

.search-filter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 8px;
    align-items: center;
    border: 1px rgb(223, 223, 223) solid;
    border-radius: 5px;
    padding: 15px;
}
@media only screen and (max-width: 1000px) {
    .search-filter{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.search-filter .search{
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}

.search-filter .search  form{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.search-filter .search form input,.search-filter .filter form input{
    border-radius: 5px;
    border: 1px rgb(223, 223, 223) solid;
    padding: 5px 10px;
    height: 45px;
}

.search-filter .filter form {
    display: flex;
    flex-direction: row;
    gap: 15px;
    flex-wrap: wrap;
}

.search-filter .search form .submit, .search-filter .filter form .filter{
    height: 40px;
    width: 80px;
    border: none;
    font-size: 15px;
    font-weight: 600;
    background: #0c529e;
    color: #f2f2f2;
    border-radius: 6px;
    cursor: pointer;
}

.like {
    height: 20px;
    width: 40px;
    border: none;
    font-size: 12px;
    font-weight: 800;
    background: #ff0e46;
    color: #f2f2f2;
    border-radius: 6px;
    cursor: pointer;
}
